### Import necessary libraries

In [26]:
import pandas as pd
import numpy as np
import operator
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
df = pd.read_csv('C:\\Users\\Alozie Daberechi\\Downloads\\tmdb-movies.csv')

In [27]:
df.head(20)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
5,281957,tt1663202,9.110700,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,http://www.foxmovies.com/movies/the-revenant,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)",...,"In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/15,3929,7.2,2015,1.241999e+08,4.903142e+08
6,87101,tt1340138,8.654359,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,http://www.terminatormovie.com/,Alan Taylor,Reset the future,...,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/15,2598,5.8,2015,1.425999e+08,4.053551e+08
7,286217,tt3659388,7.667400,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,http://www.foxmovies.com/movies/the-martian,Ridley Scott,Bring Him Home,...,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/15,4572,7.6,2015,9.935996e+07,5.477497e+08
8,211672,tt2293640,7.404165,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,http://www.minionsmovie.com/,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses",...,"Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/15,2893,6.5,2015,6.807997e+07,1.064192e+09
9,150540,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,http://movies.disney.com/inside-out,Pete Docter,Meet the little voices inside your head.,...,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/15,3935,8.0,2015,1.609999e+08,7.854116e+08
10,206647,tt2379713,6.200282,245000000,880674609,Spectre,Daniel Craig|Christoph Waltz|LÃ©a Seydoux|Ralp...,http://www.sonypictures.com/movies/spectre/,Sam Mendes,A Plan No One Escapes,...,A cryptic message from Bondâ€™s past sends him...,148,Action|Adventure|Crime,Columbia Pictures|Danjaq|B24,10/26/15,3254,6.2,2015,2.253999e+08,8.102203e+08
11,76757,tt1617661,6.189369,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,http://www.jupiterascending.com,Lana Wachowski|Lilly Wachowski,Expand your universe.,...,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/15,1937,5.2,2015,1.619199e+08,1.692686e+08
12,264660,tt0470752,6.118847,15000000,36869414,Ex Machina,Domhnall Gleeson|Alicia Vikander|Oscar Isaac|S...,http://exmachina-movie.com/,Alex Garland,There is nothing more human than the will to s...,...,"Caleb, a 26 year old coder at the world's larg...",108,Drama|Science Fiction,DNA Films|Universal Pictures International (UP...,1/21/15,2854,7.6,2015,1.379999e+07,3.391985e+07
13,257344,tt2120120,5.984995,88000000,243637091,Pixels,Adam Sandler|Michelle Monaghan|Peter Dinklage|...,http://www.pixels-movie.com/,Chris Columbus,Game On.,...,Video game experts are recruited by the milita...,105,Action|Comedy|Science Fiction,Columbia Pictures|Happy Madison Productions,7/16/15,1575,5.8,2015,8.095996e+07,2.241460e+08
14,99861,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,http://marvel.com/movies/movie/193/avengers_ag...,Joss Whedon,A New Age Has Come.,...,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/15,4304,7.4,2015,2.575999e+08,1.292632e+09
15,273248,tt3460252,5.898400,44000000,155760117,The Hateful Eight,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,http://thehatefuleight.com/,Quentin Tarantino,No one comes up here without a damn good reason.,...,Bounty hunters seek shelter from a raging bliz...,167,Crime|Drama|Mystery|Western,Double Feature Films|The Weinstein Company|Fil...,12/25/15,2389,7.4,2015,4.047998e+07,1.432992e+08
16,260346,tt2446042,5.749758,48000000,325771424,Taken 3,Liam Neeson|Forest Whitaker|Maggie Grace|Famke...,http://www.taken3movie.com/,Olivier Megaton,It Ends Here,...,Ex-government operative Bryan Mills finds his ...,109,Crime|Action|Thriller,Twentieth Century Fox Film Corporation|M6 Film...,1/1/15,1578,6.1,2015,4.415998e+07,2.997096e+08
17,102899,tt0478970,5.573184,130000000,518602163,Ant-Man,Paul Rudd|Michael Douglas|Evangeline Lilly|Cor...,http://marvel.com/movies/movie/180/ant-man,Peyton Reed,Heroes Don't Get Any Bigger,...,Armed with the astonishing ability to shrink i...,115,Science Fiction|Action|Adventure,Marvel Studios,7/14/15,3779,7.0,2015,1.195999e+08,4.771138e+08
18,150689,tt1661199,5.556818,95000000,542351353,Cinderella,Lily James|Cate Blanchett|Richard Madden|Helen...,NaN,Kenneth Branagh,Midnight is just the beginning.,...,"When her father unexpectedly passes away, youn...",112,Romance|Fantasy|Family|Drama,Walt Disney Pictures|Genre Films|Beagle Pug Fi...,3/12/15,1495,6.8,2015,8.739996e+07,4.989630e+08
19,131634,tt1951266,5.476958,160000000,650523427,The Hunger Games: Mockingjay - Part 2,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,http://www.thehungergames.movie/,Francis Lawrence,The fire will burn forever.,...,"With the nation of Panem in a full scale war, ...",136,War|Adventure|Science Fiction,Studio Babelsberg|StudioCanal|Lionsgate|Walt D...,11/18/15,2380,6.5,2015,1.471999e+08,5.984813e+08

#### Descriptive Statistics

In [28]:
df.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

#### Removing null values

In [29]:
df = df[df['genres'].isnull() == False]
df = df[df['cast'].isnull() == False]

df = df[df['budget_adj'] != 0]
df = df[df['revenue_adj'] != 0]
#data = data[data["cast"].isnull() == False]

In [30]:
nan_df = df.isnull()
nan_df

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10822,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
10828,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
10829,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
10835,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
10848,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [31]:
df.drop(nan_df, axis = 1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 94, 96, 97, 98, 99, 102, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, ...]

[3851 rows x 0 columns]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3851 entries, 0 to 10848
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3851 non-null   int64
 1   imdb_id               3851 non-null   object
 2   popularity            3851 non-null   float64
 3   budget                3851 non-null   int64
 4   revenue               3851 non-null   int64
 5   original_title        3851 non-null   object
 6   cast                  3851 non-null   object
 7   homepage              1425 non-null   object
 8   director              3850 non-null   object
 9   tagline               3573 non-null   object
 10  keywords              3714 non-null   object
 11  overview              3851 non-null   object
 12  runtime               3851 non-null   int64
 13  genres                3851 non-null   object
 14  production_companies  3807 non-null   object
 15  release_date          3851 non-null   object
 16  vote_count            3851 non-null   int64
 17  vote_average          3851 non-null   float64
 18  release_year          3851 non-null   int64
 19  budget_adj            3851 non-null   float64
 20  revenue_adj           3851 non-null   float64
dtypes: float64(4), int64(6), object(11)
memory usage: 661.9+ KB

In [33]:
df.head(3)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08

In [34]:
df.drop(['tagline', 'keywords', 'overview'], axis = 1)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10822,396,tt0061184,0.670274,7500000,33736689,Who's Afraid of Virginia Woolf?,Elizabeth Taylor|Richard Burton|George Segal|S...,NaN,Mike Nichols,131,Drama,Chenault Productions,6/21/66,74,7.5,1966,5.038511e+07,2.266436e+08
10828,5780,tt0061107,0.402730,3000000,13000000,Torn Curtain,Paul Newman|Julie Andrews|Lila Kedrova|HansjÃ¶...,NaN,Alfred Hitchcock,128,Mystery|Thriller,Universal Pictures,7/13/66,46,6.3,1966,2.015404e+07,8.733419e+07
10829,6644,tt0061619,0.395668,4653000,6000000,El Dorado,John Wayne|Robert Mitchum|James Caan|Charlene ...,NaN,Howard Hawks,120,Action|Western,Paramount Pictures|Laurel Productions,12/17/66,36,6.9,1966,3.125892e+07,4.030809e+07
10835,5923,tt0060934,0.299911,12000000,20000000,The Sand Pebbles,Steve McQueen|Richard Attenborough|Richard Cre...,NaN,Robert Wise,182,Action|Adventure|Drama|War|Romance,Twentieth Century Fox Film Corporation|Solar P...,12/20/66,28,7.0,1966,8.061618e+07,1.343603e+08
10848,2161,tt0060397,0.207257,5115000,12000000,Fantastic Voyage,Stephen Boyd|Raquel Welch|Edmond O'Brien|Donal...,NaN,Richard Fleischer,100,Adventure|Science Fiction,Twentieth Century Fox Film Corporation,8/24/66,42,6.7,1966,3.436265e+07,8.061618e+07

In [35]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [36]:
df.drop(['homepage', 'tagline', 'keywords', 'overview'], axis = 1)

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10822,396,tt0061184,0.670274,7500000,33736689,Who's Afraid of Virginia Woolf?,Elizabeth Taylor|Richard Burton|George Segal|S...,Mike Nichols,131,Drama,Chenault Productions,6/21/66,74,7.5,1966,5.038511e+07,2.266436e+08
10828,5780,tt0061107,0.402730,3000000,13000000,Torn Curtain,Paul Newman|Julie Andrews|Lila Kedrova|HansjÃ¶...,Alfred Hitchcock,128,Mystery|Thriller,Universal Pictures,7/13/66,46,6.3,1966,2.015404e+07,8.733419e+07
10829,6644,tt0061619,0.395668,4653000,6000000,El Dorado,John Wayne|Robert Mitchum|James Caan|Charlene ...,Howard Hawks,120,Action|Western,Paramount Pictures|Laurel Productions,12/17/66,36,6.9,1966,3.125892e+07,4.030809e+07
10835,5923,tt0060934,0.299911,12000000,20000000,The Sand Pebbles,Steve McQueen|Richard Attenborough|Richard Cre...,Robert Wise,182,Action|Adventure|Drama|War|Romance,Twentieth Century Fox Film Corporation|Solar P...,12/20/66,28,7.0,1966,8.061618e+07,1.343603e+08
10848,2161,tt0060397,0.207257,5115000,12000000,Fantastic Voyage,Stephen Boyd|Raquel Welch|Edmond O'Brien|Donal...,Richard Fleischer,100,Adventure|Science Fiction,Twentieth Century Fox Film Corporation,8/24/66,42,6.7,1966,3.436265e+07,8.061618e+07

### Question 1: Which movie was the moct popular upon release?

In [37]:
df['popularity'].max(axis = 0)

32.985763

#### We can see from the data that the movie with the highest popularity with 32.98763 is Jurasic World

In [38]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

#### Question 2: Which movie had the highest budget for production?

In [39]:
df.groupby(['budget','original_title']).max()

C:\Users\Alozie Daberechi\AppData\Local\Temp\ipykernel_4604\268961950.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  df.groupby(['budget','original_title']).max()

                                                          id    imdb_id  \
budget    original_title
1         Lost & Found                                 39964  tt0120836
          Love, Wedding, Marriage                      59296  tt1436559
2         Death Wish 2                                 14373  tt0082250
3         Boy                                          39356  tt1560139
          Tales from the Darkside: The Movie           20701  tt0100740
...                                                      ...        ...
270000000 Superman Returns                              1452  tt0348150
280000000 Avengers: Age of Ultron                      99861  tt2395427
300000000 Pirates of the Caribbean: At World's End       285  tt0449088
380000000 Pirates of the Caribbean: On Stranger Tides   1865  tt1298650
425000000 The Warrior's Way                            46528  tt1032751

                                                       popularity     revenue  \
budget    original_title
1         Lost & Found                                   0.090186         100
          Love, Wedding, Marriage                        0.520430        1378
2         Death Wish 2                                   0.464188          16
3         Boy                                            0.028456          43
          Tales from the Darkside: The Movie             0.317091          16
...                                                           ...         ...
270000000 Superman Returns                               1.957331   391081192
280000000 Avengers: Age of Ultron                        5.944927  1405035767
300000000 Pirates of the Caribbean: At World's End       4.965391   961000000
380000000 Pirates of the Caribbean: On Stranger Tides    4.955130  1021683000
425000000 The Warrior's Way                              0.250540    11087569

                                                                                                    cast  \
budget    original_title
1         Lost & Found                                 David Spade|Sophie Marceau|Ever Carradine|Step...
          Love, Wedding, Marriage                      Mandy Moore|Kellan Lutz|Jessica Szohr|Autumn F...
2         Death Wish 2                                 Charles Bronson|Jill Ireland|Vincent Gardenia|...
3         Boy                                          James Rolleston|Craig Hall|Taika Waititi|Te Ah...
          Tales from the Darkside: The Movie           Rae Dawn Chong|Christian Slater|Deborah Harry|...
...                                                                                                  ...
270000000 Superman Returns                             Brandon Routh|Kevin Spacey|Kate Bosworth|James...
280000000 Avengers: Age of Ultron                      Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...
300000000 Pirates of the Caribbean: At World's End     Johnny Depp|Orlando Bloom|Keira Knightley|Geof...
380000000 Pirates of the Caribbean: On Stranger Tides  Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
425000000 The Warrior's Way                            Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...

                                                              director  \
budget    original_title
1         Lost & Found                                    Jeff Pollack
          Love, Wedding, Marriage                      Dermot Mulroney
2         Death Wish 2                                  Michael Winner
3         Boy                                            Taika Waititi
          Tales from the Darkside: The Movie             John Harrison
...                                                                ...
270000000 Superman Returns                                Bryan Singer
280000000 Avengers: Age of Ultron                          Joss Whedon
300000000 Pirates of the Caribbean: At World's End      Gore Verbinski
380000000 Pirates of the Caribbean: On Stranger Tides     Rob Marshall
425000000 The Warrior's Way                                 Sngmoo Lee

                                                                                                 tagline  \
budget    original_title
1         Lost & Found                                 A comedy about a guy who would do anything to ...
          Love, Wedding, Marriage                                                   Here comes the ride.
2         Death Wish 2                                 First His Wife. Now His Daughter. It's Time To...
3         Boy                                          Summer, Girls, Gangs, Drugs ... its not easy b...
          Tales from the Darkside: The Movie                      From the depths of four twisted minds.
...                                                                                                  ...
270000000 Superman Returns                                                                           NaN
280000000 Avengers: Age of Ultron                                                    A New Age Has Come.
300000000 Pirates of the Caribbean: At World's End        At the end of the world, the adventure begins.
380000000 Pirates of the Caribbean: On Stranger Tides                        Live Forever Or Die Trying.
425000000 The Warrior's Way                                                      Assassin. Hero. Legend.

                                                                                                keywords  \
budget    original_title
1         Lost & Found                                                      restaurant|neighbor|dog|ring
          Love, Wedding, Marriage                                             wedding vows|marriage|love
2         Death Wish 2                                     rape|detective|drug traffic|vigilante|revenge
3         Boy                                           new zealand|maori|farm|goat|duringcreditsstinger
          Tales from the Darkside: The Movie           anthology|based on tv series|darkside|antholog...
...                                                                                                  ...
270000000 Superman Returns                             saving the world|dc comics|invulnerability|seq...
280000000 Avengers: Age of Ultron                             marvel comic|comic|sequel|superhero|vision
300000000 Pirates of the Caribbean: At World's End     ocean|drug abuse|exotic island|east india trad...
380000000 Pirates of the Caribbean: On Stranger Tides            sea|captain|mutiny|sword|prime minister
425000000 The Warrior's Way                            assassin|small town|revenge|deception|super speed

                                                                                                overview  \
budget    original_title
1         Lost & Found                                 A comedy about finding your true love at any p...
          Love, Wedding, Marriage                      A happy newlywed marriage counselor's views on...
2         Death Wish 2                                 Paul Kersey is again a vigilante trying to fin...
3         Boy                                          It's 1984, and Michael Jackson is king - even ...
          Tales from the Darkside: The Movie           The first segment features an animated mummy s...
...                                                                                                  ...
270000000 Superman Returns                             Set 5 years after the end of Superman II, the ...
280000000 Avengers: Age of Ultron                      When Tony Stark tries to jumpstart a dormant p...
300000000 Pirates of the Caribbean: At World's End     Captain Barbossa, long believed to be dead, ha...
380000000 Pirates of the Caribbean: On Stranger Tides  Captain Jack Sparrow crosses paths with a woma...
425000000 The Warrior's Way                            An Asian assassin (Dong-gun Jang) is forced to...

                                                       runtime  \
budget    original_title
1         Lost & Found                                      95
          Love, Wedding, Marriage                           90
2         Death Wish 2                                      88
3         Boy                                               87
          Tales from the Darkside: The Movie                93
...                                                        ...
270000000 Superman Returns                                 154
280000000 Avengers: Age of Ultron                          141
300000000 Pirates of the Caribbean: At World's End         169
380000000 Pirates of the Caribbean: On Stranger Tides      136
425000000 The Warrior's Way                                100

                                                                                          genres  \
budget    original_title
1         Lost & Found                                                            Comedy|Romance
          Love, Wedding, Marriage                                                 Comedy|Romance
2         Death Wish 2                                                     Action|Crime|Thriller
3         Boy                                                                       Drama|Comedy
          Tales from the Darkside: The Movie                               Fantasy|Horror|Comedy
...                                                                                          ...
270000000 Superman Returns                              Adventure|Fantasy|Action|Science Fiction
280000000 Avengers: Age of Ultron                               Action|Adventure|Science Fiction
300000000 Pirates of the Caribbean: At World's End                      Adventure|Fantasy|Action
380000000 Pirates of the Caribbean: On Stranger Tides                   Adventure|Action|Fantasy
425000000 The Warrior's Way                            Adventure|Fantasy|Action|Western|Thriller

                                                                                    production_companies  \
budget    original_title
1         Lost & Found                                          Alcon Entertainment|Dinamo Entertainment
          Love, Wedding, Marriage                      120dB Films|Scion Films|Voodoo Production Serv...
2         Death Wish 2                                                                      Cannon Films
3         Boy                                          New Zealand Film Commission|Unison Films|Whenu...
          Tales from the Darkside: The Movie           Paramount Pictures|Laurel Productions|Darkside...
...                                                                                                  ...
270000000 Superman Returns                             DC Comics|Legendary Pictures|Warner Bros.|Bad ...
280000000 Avengers: Age of Ultron                      Marvel Studios|Prime Focus|Revolution Sun Studios
300000000 Pirates of the Caribbean: At World's End     Walt Disney Pictures|Jerry Bruckheimer Films|S...
380000000 Pirates of the Caribbean: On Stranger Tides  Walt Disney Pictures|Jerry Bruckheimer Films|M...
425000000 The Warrior's Way                                                     Boram Entertainment Inc.

                                                      release_date  \
budget    original_title
1         Lost & Found                                     4/23/99
          Love, Wedding, Marriage                           6/3/11
2         Death Wish 2                                     2/20/82
3         Boy                                              2/14/10
          Tales from the Darkside: The Movie                5/3/90
...                                                            ...
270000000 Superman Returns                                 6/28/06
280000000 Avengers: Age of Ultron                          4/22/15
300000000 Pirates of the Caribbean: At World's End         5/19/07
380000000 Pirates of the Caribbean: On Stranger Tides      5/11/11
425000000 The Warrior's Way                                12/2/10

                                                       vote_count  \
budget    original_title
1         Lost & Found                                         14
          Love, Wedding, Marriage                              55
2         Death Wish 2                                         27
3         Boy                                                  26
          Tales from the Darkside: The Movie                   37
...                                                           ...
270000000 Superman Returns                                    834
280000000 Avengers: Age of Ultron                            4304
300000000 Pirates of the Caribbean: At World's End           2626
380000000 Pirates of the Caribbean: On Stranger Tides        3180
425000000 The Warrior's Way                                    74

                                                       vote_average  \
budget    original_title
1         Lost & Found                                          4.8
          Love, Wedding, Marriage                               5.3
2         Death Wish 2                                          5.6
3         Boy                                                   7.3
          Tales from the Darkside: The Movie                    5.8
...                                                             ...
270000000 Superman Returns                                      5.3
280000000 Avengers: Age of Ultron                               7.4
300000000 Pirates of the Caribbean: At World's End              6.8
380000000 Pirates of the Caribbean: On Stranger Tides           6.3
425000000 The Warrior's Way                                     6.4

                                                       release_year  \
budget    original_title
1         Lost & Found                                         1999
          Love, Wedding, Marriage                              2011
2         Death Wish 2                                         1982
3         Boy                                                  2010
          Tales from the Darkside: The Movie                   1990
...                                                             ...
270000000 Superman Returns                                     2006
280000000 Avengers: Age of Ultron                              2015
300000000 Pirates of the Caribbean: At World's End             2007
380000000 Pirates of the Caribbean: On Stranger Tides          2011
425000000 The Warrior's Way                                    2010

                                                         budget_adj  \
budget    original_title
1         Lost & Found                                 1.309053e+00
          Love, Wedding, Marriage                      9.693980e-01
2         Death Wish 2                                 4.519285e+00
3         Boy                                          3.000000e+00
          Tales from the Darkside: The Movie           5.006696e+00
...                                                             ...
270000000 Superman Returns                             2.920507e+08
280000000 Avengers: Age of Ultron                      2.575999e+08
300000000 Pirates of the Caribbean: At World's End     3.155006e+08
380000000 Pirates of the Caribbean: On Stranger Tides  3.683713e+08
425000000 The Warrior's Way                            4.250000e+08

                                                        revenue_adj
budget    original_title
1         Lost & Found                                 1.309053e+02
          Love, Wedding, Marriage                      1.335831e+03
2         Death Wish 2                                 3.615428e+01
3         Boy                                          4.300000e+01
          Tales from the Darkside: The Movie           2.670238e+01
...                                                             ...
270000000 Superman Returns                             4.230205e+08
280000000 Avengers: Age of Ultron                      1.292632e+09
300000000 Pirates of the Caribbean: At World's End     1.010654e+09
380000000 Pirates of the Caribbean: On Stranger Tides  9.904175e+08
425000000 The Warrior's Way                            1.108757e+07

[3849 rows x 18 columns]

### Question 3: Actor with highest num of appearance in movies

In [40]:
actor_dict = {}
actors = df['cast']
actors = actors.str.split('|')
actors = np.array(actors)

for actor_List in actors:
    for actor in actor_List:
        actor = actor.lstrip()
        if actor not in actor_List:
            actor_dict[actor] = 1
        else:
            actor_dict[actor] += 1
            
            
sorted_actor_list = sorted(actor_dict.items(), key = operator.itemgetter(1), reverse = True)


x_axis = list()
y_axis = list()


for item in sorted_actor_list:
    x_axis.append(item[0])
    y_axis.append(item[1])
    
    
sns.set(rc={'figure.figsize':(12,10)}, font_scale=1.4)
ax = sns.barplot(x_axis, y_axis, palette="Set3")


#rotate x-axis' text
for item in ax.get_xticklabels():
    item.set_rotation(85)
    

ax.set(xlabel='actor names', ylabel='number of appearances', title = 'Top 20 actors based on the number of the appearances in movies')
plt.show()

KeyError: 'Chris Pratt'

### Question 2: Exploring the Movie genres through the years in the dataset

In [42]:
year_set = set()
genre_set = set()
genres_and_year = df[['release_year', 'genres']]

production_year = genres_and_year['release_year']
production_year = production_year.drop_duplicates()
for year in production_year:
    if year not in year_set:
        year_set.add(year)
        
#print(year_set)


#######################################
#Create a dataframe that contains the sum of movies' genre per year
#######################################


genre_count_per_year_df = pd.DataFrame(index = year_set, columns = genre_set)
genre_count_per_year_df[:]=0


for year in year_set:
    genre_dict = {}
    genres_in_year = genres_and_year[genres_and_year.release_year == year]
    genres_in_year = genres_in_year["genres"].values
    for elem in genres_in_year:
        genres_row = elem.split("|")
        for genre in genres_row:
            if genre not in genre_set:
                genre_set.add(genre)
print("Year: ", year, "\n", sorted(genre_dict.items(), key = operator.itemgetter(1),reverse = True))



#####################################################
#Create a dataframe which contains the sum of movies' genres per year
######################################################


genre_count_per_year_df = pd.DataFrame(index = year_set, columns = genre_set)
genre_count_per_year_df = 0

for year in year_set:
    genre_dict = {}
    genres_in_year = genres_and_year[genres_and_year.release_year == year]
    genres_in_year = genres_in_year["genres"].values
    for elem in genres_in_year:
        genres_row = elem.split("|")
        for genre in genres_row:
            if genre not in genre_dict:
                genre_dict[genre] = 1
            else:
                genre_dict[genre] = genre_dict[genre] + 1
                
    aux_df = pd.DataFrame(genre_dict, index = [year])
    gerne_count_per_year_df.loc[year, aux_df.columns] = genre_count_per_year_df.loc[year, aux_df.columns] + aux_df.loc[year]

    
#print(gerne_count_per_year_df.apply( max, axis=1 ))
#print(gerne_count_per_year_df.idxmax(axis = 1))  

    
most_popular_genre_by_year = pd.DataFrame([gerne_count_per_year_df.idxmax(axis = 1).values,
                                          gerne_count_per_year_df.apply( max, axis=1 ).values],
                                          columns = gerne_count_per_year_df.index,
                                         index = ["genre", 'counts'])

Year:  2015
 []

AttributeError: 'int' object has no attribute 'loc'

In [43]:
sns.set(rc={'figure.figsize':(12,12)}, font_scale=1.3)
sns.set_palette("Set1", 20, .65)


ax = gerne_count_per_year_df.plot.bar(stacked=True);
ax.set(xlabel='years', ylabel='movies count', title = 'Stacked barplot showing the trend of different movie genres')
plt.show()


ax = gerne_count_per_year_df.plot.area(stacked=True);
ax.set(xlabel='movie titles', ylabel='movies count', title = 'Stacked area plot showing the trend of different movie genres')
plt.show()

NameError: name 'gerne_count_per_year_df' is not defined